
.homepage{
    background-color: #E5E5E5;
}

.navbar a{
    color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.hero .container-fluid{
    background-color: transparent;
}

.thumbnails{
    max-height: 240px;
}
.hero{
    background-image: url(/images/bg.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    max-width: 100%;
    align-items: center;
}

.hero h1, h2, h3{
    color: #E5E5E5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hero h1{
font-size: 72px;
line-height: 85px;
letter-spacing:5px;

}

.hero h2{
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 276px;  
    
}

.hero h3{
    font-size: 18px;
    line-height: 30px;
}

.get-started{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    color: #282323;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color:#E5E5E5;
   border-radius: 50px;
   padding: 18px 30px;
   max-width: 200px;
}

.contact-me{
    text-align: center;
    color: #282323;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color:#E5E5E5;
   border-radius: 50px;
   padding: 18px 30px;
   max-width: 200px;
}

.card-body{
    background-color:#282323;
}

.footer{
    color: #E5E5E5;
    font-family:'Roboto', sans-serif;
}

@media (max-width:600px){
    .hero h1{
        font-size: 40px;
    }
    .hero h2{
        font-size: 20px;
    }
    .hero h3{
        font-size: 15px;
    }
    .homepage{
        display: none;
    }
    .about-me-img{
        display: none;
    }
}

.about-page{
    background-color: #282323;
    color: #E5E5E5;
}

.about-page h1, .gallery h1{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
}
.about-page h2{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: #F65282;
    font-weight: 700;
    margin-top: 169px;
    text-align: left;
}

.about-page h3{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: #F65282;
    font-weight: 700;
    text-align: left; 
}
.about-page p {
    font-family: 'Roboto', sans-serif;
    font-weight: 14px;
    font-weight: 400;
}

.about-me-img{
    margin-top: 117px;
    margin-left: -25px;
    margin-bottom: 117px;
}

.gallery{
    background-color: #282323;
    color: #E5E5E5;
}
