:root{
    --primary-colour:#282323;
    --secondary-colour:#E5E5E5;
    --accent-colour:#F65282;
}

.homepage{
    background-color: var(--secondary-colour);
}

.thumbnails{
    max-height: 240px;
}
.hero{
    background-image: url(/images/bg.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    max-width: 100%;
    align-items: center;
}

.hero h1, h2, h3{
    color: var(--secondary-colour);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hero h1{
font-size: 72px;
line-height: 85px;
letter-spacing:5px;
text-shadow: 1px 1px 2px var(--primary-colour);

}

.hero h2{
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 276px;  
    text-shadow: 1px 1px 2px var(--primary-colour);
    
}

.hero h3{
    font-size: 18px;
    line-height: 30px;
}

.get-started{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    color: var(--accent-colour);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color:var(--secondary-colour);
   border-radius: 50px;
   padding: 18px 30px;
   max-width: 200px;
}

.contact-me{
    text-align: center;
    color: var(--primary-colour);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color:var(--secondary-colour);
   border-radius: 50px;
   padding: 18px 30px;
   max-width: 200px;
}


.gallery-footer{
    color: var(--primary-colour);
    font-family:'Roboto', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--secondary-colour);
}

.primary-footer{
    color: var(--secondary-colour);
    font-family:'Roboto', sans-serif;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px; 
    background-color: var(--primary-colour);
}

@media (max-width:600px){
    .hero h1{
        font-size: 40px;
    }
    .hero h2{
        font-size: 20px;
    }
    .hero h3{
        font-size: 15px;
    }
    .homepage{
        display: none;
    }
    .about-me-img{
        display: none;
    }
    .gallery-footer{
        display:none;
    }
    .primary-footer{
        display: none;
    }
}

.about-page{
    color: var(--secondary-colour);
}

.about-page h1, .gallery h1, .contact h1{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 5px;
}
.about-page h2{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: var(--accent-colour);
    font-weight: 700;
    margin-top: 169px;
    text-align: left;
    letter-spacing: 2px;
}

.about-page h3{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: var(--accent-colour);
    font-weight: 700;
    text-align: left; 
    letter-spacing: 2px;
}
.about-page p {
    font-family: 'Roboto', sans-serif;
    font-weight: 14px;
    font-weight: 400;
}

.about-me-img{
    margin-top: 117px;
    margin-left: -25px;
    margin-bottom: 117px;
}

.gallery h1{
    padding-top: 100px;
    line-height: 85px;
    color: var(--secondary-colour);
    
}

.contact h1{
padding-top: 100px;
padding-bottom: 40px;
}

.contact h2{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    color: var(--accent-colour);
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 25px;
}

.contact p{
    font-family: 'Roboto', sans-serif;
    font-weight: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--primary-colour);
}

.github-link{
    text-decoration: none;
    color: var(--primary-colour);
}

.contact .navbar{
    background-color: var(--secondary-colour);
}

.about-page .navbar, .homepage .navbar, .gallery .navbar{
    background-color: #282323;

}

.navbar a{
    color: var(--accent-colour);
    font-family: 'Roboto', sans-serif;
}